//
//  Secret.xcconfig
//  FocusTimer
//
//  Created by 이영호 on 10/22/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


GADAPPLICATIONIDENTIFIER=ca-app-pub-7110525036735068~8960929059


GAD_UNIT_ID_BANNER=ca-app-pub-7110525036735068/3788493429
